## Apriori Algorithm â€” Know How to Find Frequent Itemsets

##### Import the packages

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

##### Read the dataset into dataframe

In [2]:
df = pd.read_excel('data/online_retail_II.xlsx')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

##### list of column names from dataframe

In [3]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

##### Show unique country from dataframe

In [4]:
df.Country.unique()

array(['United Kingdom', 'France', 'USA', 'Belgium', 'Australia', 'EIRE',
       'Germany', 'Portugal', 'Japan', 'Denmark', 'Nigeria',
       'Netherlands', 'Poland', 'Spain', 'Channel Islands', 'Italy',
       'Cyprus', 'Greece', 'Norway', 'Austria', 'Sweden',
       'United Arab Emirates', 'Finland', 'Switzerland', 'Unspecified',
       'Malta', 'Bahrain', 'RSA', 'Bermuda', 'Hong Kong', 'Singapore',
       'Thailand', 'Israel', 'Lithuania', 'West Indies', 'Lebanon',
       'Korea', 'Brazil', 'Canada', 'Iceland'], dtype=object)

##### Check null value of each col.

In [5]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

##### Drop null value from dataframe

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

##### You'll notice that the data set also contains entries for items returned to the store. The invoice numbers of these entries will begin with the letter "C" indicating that these are credit entries. You will also see a few entries for "Adjusting Bad Debt." The invoice number for such entries will begin with the letter "A." These entries are extraneous to our sales analysis so we'll clean the data set to exclude these entries from the dataframe.

In [8]:
len(df)

417534

In [9]:
#Identify entries with "C" in the invoice number
df['Invoice'] = df['Invoice'].astype('str')
df[df['Invoice'].str.contains('C')].head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia

In [10]:
#Identify entries with "A" in the invoice number
df[df['Invoice'].str.contains('A')]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

##### We'll need to remove the entries with a "C" or an "A" in the invoice number.

In [11]:
df = df[~df['Invoice'].str.contains('C|A')]
len(df)

407695

In [12]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

##### Grouping data for specific countries

In [13]:
subset_df = df[df['Country'].isin(['Denmark', 'Germany', 'Italy'])]
subset_df = subset_df.groupby(['Invoice', 'Description'])['Quantity'].sum()
subset_df.head()

Invoice  Description
489526   6 RIBBONS RUSTIC CHARM              12
         ANTIQUE SILVER TEA GLASS ETCHED     12
         BIRD DECORATION RED SPOT            24
         BLUE/BROWN DOTS RUFFLED UMBRELLA     3
         EDWARDIAN PARASOL BLACK              6
Name: Quantity, dtype: int64

##### Next, we'll pivot the dataframe so that each unique entry in the "Description" becomes a column and each unique "InvoiceNo" becomes a row.

In [14]:
#Unpack the data
subset_df = subset_df.unstack().reset_index()
subset_df.head()

Description,Invoice,3 STRIPEY MICE FELTCRAFT,CHERRY BLOSSOM DECORATIVE FLASK,FLAMINGO LIGHTS,RED/WHITE DOT MINI CASES,SET 2 TEA TOWELS I LOVE LONDON,WHITE CHERRY LIGHTS,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 IVORY ROSE PEG PLACE SETTINGS,...,YELLOW PURPLE DAISY FELT PURSE KIT,YELLOW SHARK HELICOPTER,YULETIDE IMAGES GIFT WRAP SET,ZINC FOLKART SLEIGH BELLS,ZINC HEART LATTICE DOUBLE PLANTER,ZINC HEART LATTICE PLANTER BOWL,ZINC HEART LATTICE TRAY OVAL,ZINC METAL HEART DECORATION,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK
0,489526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,24.0
1,489831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,490395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,490563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,490564,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### replace all the NaN values with zero and make the invoice number the dataframe's index

In [15]:
subset_df = subset_df.fillna(0)
subset_df = subset_df.set_index('Invoice')
subset_df.head()

Description,3 STRIPEY MICE FELTCRAFT,CHERRY BLOSSOM DECORATIVE FLASK,FLAMINGO LIGHTS,RED/WHITE DOT MINI CASES,SET 2 TEA TOWELS I LOVE LONDON,WHITE CHERRY LIGHTS,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,...,YELLOW PURPLE DAISY FELT PURSE KIT,YELLOW SHARK HELICOPTER,YULETIDE IMAGES GIFT WRAP SET,ZINC FOLKART SLEIGH BELLS,ZINC HEART LATTICE DOUBLE PLANTER,ZINC HEART LATTICE PLANTER BOWL,ZINC HEART LATTICE TRAY OVAL,ZINC METAL HEART DECORATION,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK
Invoice,,,,,,,,,,,,,,,,,,,,,
489526,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,24.0
489831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490564,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### In the bottom-left corner of the output table, the column count of 1824 includes a column titled "POSTAGE." POSTAGE entries indicate that the items listed in the invoice have been booked to be sent via postal services. Since POSTAGE is a hidden column in the output table, we will print the contents of the column to verify its presence

In [16]:
subset_df.head()['POSTAGE']

Invoice
489526    6.0
489831    0.0
490395    2.0
490563    0.0
490564    7.0
Name: POSTAGE, dtype: float64

In [17]:
subset_df = subset_df.drop("POSTAGE", axis=1)

##### The Apriori algorithm requires this data to be hot encoded, which means all entries with a non-zero value should be true and all entries with a zero value should be false.

In [18]:
#Encode the data
def hot_encode(x):
    if(x<= 0):
        return False
    else:
        return True

subset_df = subset_df.applymap(hot_encode)
subset_df.head()

/tmp/ipykernel_72561/1448825104.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  subset_df = subset_df.applymap(hot_encode)

Description,3 STRIPEY MICE FELTCRAFT,CHERRY BLOSSOM DECORATIVE FLASK,FLAMINGO LIGHTS,RED/WHITE DOT MINI CASES,SET 2 TEA TOWELS I LOVE LONDON,WHITE CHERRY LIGHTS,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,...,YELLOW PURPLE DAISY FELT PURSE KIT,YELLOW SHARK HELICOPTER,YULETIDE IMAGES GIFT WRAP SET,ZINC FOLKART SLEIGH BELLS,ZINC HEART LATTICE DOUBLE PLANTER,ZINC HEART LATTICE PLANTER BOWL,ZINC HEART LATTICE TRAY OVAL,ZINC METAL HEART DECORATION,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK
Invoice,,,,,,,,,,,,,,,,,,,,,
489526,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
489831,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
490395,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
490563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
490564,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

##### Apply Aprioiri Algorithm

##### You can indicate a required minimum support threshold when applying the Apriori algorithm. This means that any item or item set with "support" less than the specified minimum support will be considered infrequent. You can set a minimum support threshold using the argument min_support, which will filter out the less frequently purchased items. The smaller the minimum support threshold value, the more confidently the algorithm will identify relations. For this tutorial, we'll set the min_support value at "0.05."

In [19]:
#Apply the Apriori algorithm
frq_items = apriori(subset_df, min_support=0.05, use_colnames=True)
frq_items.sort_values(['support'], ascending=[False])

     support                                           itemsets
41  0.261845              (ROUND SNACK BOXES SET OF4 WOODLAND )
55  0.197007                           (WOODLAND CHARLOTTE BAG)
35  0.172070                    (RED TOADSTOOL LED NIGHT LIGHT)
40  0.169576               (ROUND SNACK BOXES SET OF 4 FRUITS )
70  0.127182  (ROUND SNACK BOXES SET OF 4 FRUITS , ROUND SNA...
..       ...                                                ...
52  0.052369                        (TEA BAG PLATE RED SPOTTY )
59  0.052369  (STRAWBERRY CERAMIC TRINKET BOX, BIG DOUGHNUT ...
58  0.052369                 (WOODLAND WATER TRANSFER TATTOOS )
66  0.052369  (WOODLAND CHARLOTTE BAG, RED SPOTTY CHARLOTTE ...
61  0.052369                 (PINK  SPOTTY CUP, RED SPOTTY CUP)

[77 rows x 2 columns]

##### Calucate the lift to quantifies the strength of association between the two items. It assesses whether there is enough evidence of a real relationship between the items or if their co-occurrence is merely coincidental.

##### Let's say we have two items, A and B. The lift of the antecedent 'A' to the consequent 'B' is calculated as Support(A âˆª B) / (Support(A) * Support(B)). This could be described as "the support of A given B divided by the support for A times the support for B". We interpret the values like this:

- **Lift = 1**:  
  - A and B are completely independent.  
  - In retail data, this indicates that buying A has no effect on buying B.

- **Lift > 1**:  
  - A and B are positively correlated.  
  - In retail data, this indicates that customers tend to buy A and B together.

- **Lift < 1**:  
  - A and B are negatively correlated.  
  - In retail data, this indicates that customers tend NOT to buy A and B together.

In [20]:
rules=association_rules(frq_items, metric='lift', min_threshold=1,num_itemsets=len(subset_df))
rules.sort_values(['lift'], ascending=[False])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(STRAWBERRY CERAMIC TRINKET BOX),(BIG DOUGHNUT FRIDGE MAGNETS),0.082294,0.084788,0.052369,0.636364,7.505348,1.0,0.045392,2.516833,0.944488,0.456522,0.602675,0.627005
1,(BIG DOUGHNUT FRIDGE MAGNETS),(STRAWBERRY CERAMIC TRINKET BOX),0.084788,0.082294,0.052369,0.617647,7.505348,1.0,0.045392,2.400153,0.947061,0.456522,0.583360,0.627005
16,(RED SPOTTY PLATE ),(RED SPOTTY CUP),0.074813,0.114713,0.062344,0.833333,7.264493,1.0,0.053762,5.311721,0.932075,0.490196,0.811737,0.688406
17,(RED SPOTTY CUP),(RED SPOTTY PLATE ),0.114713,0.074813,0.062344,0.543478,7.264493,1.0,0.053762,2.026600,0.974085,0.490196,0.506563,0.688406
12,(RED SPOTTY BOWL),(RED SPOTTY CUP),0.077307,0.114713,0.062344,0.806452,7.030154,1.0,0.053476,4.573982,0.929622,0.480769,0.781372,0.674965
13,(RED SPOTTY CUP),(RED SPOTTY BOWL),0.114713,0.077307,0.062344,0.543478,7.030154,1.0,0.053476,2.021138,0.968901,0.480769,0.505229,0.674965
4,(PINK SPOTTY CUP),(RED SPOTTY CUP),0.067332,0.114713,0.052369,0.777778,6.780193,1.0,0.044645,3.983791,0.914057,0.403846,0.748983,0.617150
5,(RED SPOTTY CUP),(PINK SPOTTY CUP),0.114713,0.067332,0.052369,0.456522,6.780193,1.0,0.044645,1.716110,0.962978,0.403846,0.417287,0.617150
3,(RED SPOTTY CUP),(BLUE SPOTTY CUP),0.114713,0.072319,0.054863,0.478261,6.613193,1.0,0.046567,1.778055,0.958771,0.415094,0.437588,0.618441
2,(BLUE SPOTTY CUP),(RED SPOTTY CUP),0.072319,0.114713,0.054863,0.758621,6.613193,1.0,0.046567,3.667617,0.914956,0.415094,0.727343,0.618441
33,(SAVE THE PLANET COTTON TOTE BAG),(WOODLAND DESIGN COTTON TOTE BAG),0.079800,0.124688,0.059850,0.750000,6.015000,1.0,0.049900,3.501247,0.906052,0.413793,0.714387,0.615000
32,(WOODLAND DESIGN COTTON TOTE BAG),(SAVE THE PLANET COTTON TOTE BAG),0.124688,0.079800,0.059850,0.480000,6.015000,1.0,0.049900,1.769614,0.952517,0.413793,0.434905,0.615000
6,(PLASTERS IN TIN WOODLAND ANIMALS),(PLASTERS IN TIN CIRCUS PARADE ),0.124688,0.127182,0.064838,0.520000,4.088627,1.0,0.048980,1.818371,0.863029,0.346667,0.450057,0.514902
7,(PLASTERS IN TIN CIRCUS PARADE ),(PLASTERS IN TIN WOODLAND ANIMALS),0.127182,0.124688,0.064838,0.509804,4.088627,1.0,0.048980,1.785636,0.865495,0.346667,0.439975,0.514902
15,(RED SPOTTY CHARLOTTE BAG),(WOODLAND CHARLOTTE BAG),0.079800,0.197007,0.052369,0.656250,3.331092,1.0,0.036648,2.335978,0.760485,0.233333,0.571914,0.461036
14,(WOODLAND CHARLOTTE BAG),(RED SPOTTY CHARLOTTE BAG),0.197007,0.079800,0.052369,0.265823,3.331092,1.0,0.036648,1.253375,0.871488,0.233333,0.202154,0.461036
22,(ROUND SNACK BOXES SET OF 4 FRUITS ),(ROUND SNACK BOXES SET OF4 WOODLAND ),0.169576,0.261845,0.127182,0.750000,2.864286,1.0,0.082779,2.952618,0.783784,0.418033,0.661318,0.617857
23,(ROUND SNACK BOXES SET OF4 WOODLAND ),(ROUND SNACK BOXES SET OF 4 FRUITS ),0.261845,0.169576,0.127182,0.485714,2.864286,1.0,0.082779,1.614713,0.881757,0.418033,0.380695,0.617857
35,(WOODLAND DESIGN COTTON TOTE BAG),(WOODLAND CHARLOTTE BAG),0.124688,0.197007,0.059850,0.480000,2.436456,1.0,0.035286,1.544216,0.673552,0.228571,0.352422,0.391899
34,(WOODLAND CHARLOTTE BAG),(WOODLAND DESIGN COTTON TOTE BAG),0.197007,0.124688,0.059850,0.303797,2.436456,1.0,0.035286,1.257266,0.734213,0.228571,0.204623,0.391899
31,(ROUND SNACK BOXES SET OF4 WOODLAND ),(WOODLAND PARTY BAG + STICKER SET),0.261845,0.104738,0.062344,0.238095,2.273243,1.0,0.034919,1.175031,0.758784,0.204918,0.148959,0.416667
30,(WOODLAND PARTY BAG + STICKER SET),(ROUND SNACK BOXES SET OF4 WOODLAND ),0.104738,0.261845,0.062344,0.595238,2.273243,1.0,0.034919,1.823676,0.625627,0.204918,0.451657,0.416667
20,(WOODLAND CHARLOTTE BAG),(RED TOADSTOOL LED NIGHT LIGHT),0.197007,0.172070,0.069825,0.354430,2.059806,1.0,0.035926,1.282480,0.640750,0.233333,0.220261,0.380114
21,(RED TOADSTOOL LED NIGHT LIGHT),(WOODLAND CHARLOTTE BAG),0.172070,0.197007,0.069825,0.405797,2.059806,1.0,0.035926,1.351378,0.621450,0.233333,0.260014,0.380114
28,(WOODLAND DESIGN COTTON TOTE BAG),(ROUND SNACK BOXES SET OF4 WOODLAND ),0.124688,0.261845,0.064838,0.520000,1.985905,1.0,0.032189,1.537822,0.567171,0.201550,0.349730,0.383810
29,(ROUND SNACK BOXES SET OF4 WOODLAND ),(WOODLAND DESIGN COTTON TOTE BAG),0.261845,0.124688,0.064838,0.247619,1.985905,1.0,0.032189,1.163389,0.672557,0.201550,0.140442,0.383810
9,(PLASTERS IN TIN CIRCUS PARADE ),(ROUND SNACK BOXES SET OF4 WOODLAND ),0.127182,0.261845,0.064838,0.509804,1.946965,1.0,0.031536,1.505835,0.557253,0.200000,0.335917,0.378711
8,(ROUND SNACK BOXES SET OF4 WOODLAND ),(PLASTERS IN TIN CIRCUS PARADE ),0.261845,0.127182,0.064838,0.247619,1.946965,1.0,0.031536,1.160074,0.658914,0.200000,0.137986,0.378711
26,(WOODLAND CHARLOTTE BAG),(ROUND SNACK BOXES SET OF4 WOODLAND ),0.197007,0.261845,0.097257,0.493671,1.885353,1.0,0.045671,1.457855,0.584806,0.268966,0.314061,0.432550
27,(ROUND SNACK BOXES SET OF4 WOODLAND ),(WOODLAND CHARLOTTE BAG),0.261845,0.197007,0.097257,0.371429,1.885353,1.0,0.045671,1.277488,0.636175,0.268966,0.217214,0.432550
10,(PLASTERS IN TIN WOODLAND ANIMALS),(ROUND SNACK BOXES SET OF4 WOODLAND ),0.124688,0.261845,0.059850,0.480000,1.833143,1.0,0.027201,1.419528,0.519231,0.183206,0.295541,0.354286
11,(ROUND SNACK BOXES SET OF4 WOODLAND ),(PLASTERS IN TIN WOODLAND ANIMALS),0.261845,0.124688,0.059850,0.228571,1.833143,1.0,0.027201,1.134663,0.615709,0.183206,0.118681,0.354286
24,(WOODLAND CHARLOTTE BAG),(ROUND SNACK BOXES SET OF 4 FRUITS ),0.197007,0.169576,0.059850,0.303797,1.791512,1.0,0.026443,1.192791,0.550207,0.195122,0.161630,0.328369
25,(ROUND SNACK BOXES SET OF 4 FRUITS ),(WOODLAND CHARLOTTE BAG),0.169576,0.197007,0.059850,0.352941,1.791512,1.0,0.026443,1.240988,0.532032,0.195122,0.194191,0.328369
18,(RED TOADSTOOL LED NIGHT LIGHT),(ROUND SNACK BOXES SET OF4 WOODLAND ),0.172070,0.261845,0.067332,0.391304,1.494410,1.0,0.022276,1.212683,0.399598,0.183673,0.175382,0.324224
19,(ROUND SNACK BOXES SET OF4 WOODLAND ),(RED TOADSTOOL LED NIGHT LIGHT),0.261845,0.172070,0.067332,0.257143,1.494410,1.0,0.022276,1.114521,0.448198,0.183673,0.102754,0.324224

##### The output displays the association between the different item sets. Here, "antecedents" represent the items likely to be picked up first, and "consequents" represent the items picked up because of that choice.